.help_text{
  color:var(--color-text-secondary)
}
.font-12{
  font-size: 12px;
}
.font-14{
  font-size: 14px;
}
.background{
  background-color: var(--color-background)!important;
}
.rotate_180{
  transform: rotate(180deg);
}

.loading_cursor * {
  cursor: wait!important;
}

.share-image-wrap{
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  .share-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img{
      max-width: 80%;
    }
  }
}
.share-image-actions{
  margin-top:8px;
  button,a{
    margin-top:8px;
  }
}

.password-modal.bg-black{
  .modal-backdrop{
    background-color: rgba(0, 0, 0, 1);
  }
}
