.help_text{
  color:var(--color-text-secondary)
}
.font-12{
  font-size: 12px;
}
.font-14{
  font-size: 14px;
}
.background{
  background-color: var(--color-background)!important;
}
.rotate_180{
  transform: rotate(180deg);
}

.loading_cursor * {
  cursor: wait!important;
}
